@use '../abstracts/variables.module';

.layout {
    display: flex;
    // min-height: 100vh;
  }
  
  .sidebar {
    position: sticky;
    // top: 67px !important;
    // left: 0;
    // right: 0;
    // bottom: 0;
    height: 90vh;
    background: variables.$theme-color;
    color: white;
    padding: 1rem 0.6rem;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  
    &.expanded {
      width: 220px;
      transition: all 0.7s ease;
    }
  
    &.collapsed {
      width: 60px;
      align-items: center;
      transition: all 0.7s ease;

      .sidebar-avatar > .username{
        display: none;
        transition: all 0.7s ease;
      }

      .nav-item > span {
        display: none;
        transition: all 0.7s ease;
      }



    }

    @media (max-width: 420px) {
      display: none;
    }

    @media (max-width: 480px) {
      width: 60px !important;
    }
  
    .toggle {
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      user-select: none;
      margin-bottom: 1rem;

      @media (max-width: 420px) {
        display: none;
      }

    }
  
    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      .nav-item {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: white;
        text-decoration: none;
        padding: 0.6rem 1rem;
        border-radius: 8px;
        transition: all 0.2s ease;

        &:hover {
          background: variables.$theme-color1;
          color: #fff;
        }

        &.active {
          background: variables.$theme-color1;
          color: #fff;
        }
      }
    }
    .sidebar-avatar {
      width: 100%;
      padding: 0rem;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;
      margin-top: auto; // 👈 pushes it to bottom
      transition: background 0.2s ease;
      p {
        color: white;
        font-size: 0.9rem;
        margin: 0;
        font-weight: 500;
      }
      &.collapsed .sidebar-avatar {
        justify-content: center;
        p {
          display: none;
        }
      }
    }
  }

  
  .content-side {
    flex: 1;
    // padding: 3.5rem;
    background: #f4f4f4;
    transition: margin-left 0.3s ease;
    overflow-y: scroll;
    max-height: 90vh;
  }

  