@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer base {
  :root {
    --sidebar: oklch(82.846% 0.0382 196.575);
    --sidebar-foreground: oklch(40.54% 0.00005 271.152);
    --sidebar-primary: oklch(34.07% 0.00004 271.152);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  :root {
    --navbar-h: 4rem;
    --header-height: 3rem;
    --header-two-height: 6.6rem;
    --icon-right: 30px;
  }


  .dark {
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
  
}